<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NOHATE Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .btn-keepactive:disabled, .btn-keepactive[disabled] {
            opacity: 1;
        }
    </style>

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>NOHATE Demo</h2>
        <p class="lead">Insert a text to check for potential Hatespeech.</p>
    </div>
    <div class="row" style="margin: 15px 15px 15px 5px;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="langOptions" id="eng-radio" checked="1">
            <label class="form-check-label" for="eng-radio"><img width="20" height="15"
                                                                 src="https://live.staticflickr.com/7880/47482420262_900fdaaf6f_t.jpg"></label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="langOptions" id="de-radio">
            <label class="form-check-label" for="de-radio"><img width="20" height="15"
                                                                src="https://live.staticflickr.com/7822/47482420212_6ed1dffc18_t.jpg"></label>
        </div>
    </div>
    <div class="row" style="margin: 15px 15px 15px 5px;">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="modelOptions" id="ft-radio" value="option1" checked="1">
            <label class="form-check-label" for="ft-radio">Fasttext</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="modelOptions" id="bert-radio" value="option2">
            <label class="form-check-label" for="bert-radio">BERT (slow)</label>
        </div>
    </div>
    <div class="row form-group" style="width:100%; margin-left: 0; margin-right: 0; margin-bottom: 5pt;">
        <textarea class="form-control" id="input-text" rows="6"></textarea>
    </div>
    <div class="form-check" style="margin-bottom: 5pt;" hidden>
        <input type="checkbox" class="form-check-input" id="save-text-checkbox" checked>
        <small class="form-check-label">Input can be stored for further research</small>
    </div>
    <button class="btn btn-primary btn-lg btn-block" onclick="predict()">Predict</button>
    <img id="loading" src="https://media.giphy.com/media/3o7TKtnuHOHHUjR38Y/giphy.gif" width="20" height="20"
         style="margin-top:40px;display: none;">
    <div class="row" id="result" style="display: none;margin:10px;">
        <div class="card-body" style="background-color: white;margin-top: 40px;">
            <h3 class="card-title pricing-card-title" id="prob" style="margin-bottom: 0"></h3>
            <small class="text-muted" style="display: none;" id="target-result-text">Detecting
                Target...</small><br>
            <p id="result-text"></p>
            <button type="button" id="hate-button" class="btn btn-danger btn-keepactive" onclick="label_hate()">HATE
            </button>
            <button type="button" id="nohate-button" class="btn btn-success btn-keepactive" onclick="label_nohate()">NO
                HATE
            </button>
        </div>
    </div>
</div>

<!-- </div> -->

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script>
    target_requests_in_queue = 0

    function trim(s) {
        return (s || '').replace(/^\s+|\s+$/g, '');
    }

    function update_comment_box(prob, text, comment_id, show_targets) {

        $("#prob").html(`<small class="text-muted">Predicted</small> ${prob.toFixed(2)} <small class="text-muted">Hate Probability<small>`);
        $("#result-text").html(text);

        let prev_id = $("#result-text").data("comment_id");

        // Only update label buttons if comment is new
        if (prev_id !== comment_id) {
            $("#result-text").data("comment_id", comment_id);

            $('#hate-button').text("HATE");
            $('#nohate-button').text("NO HATE");
            $('#hate-button').prop("disabled", false);
            $('#nohate-button').prop("disabled", false);
        }

        $("#loading").hide();
        $("#result").show();

        if (show_targets) {
            $("#target-result-text").show();
        }
    }

    function update_target_prediction(target) {
        if (target == null || target === "NO TARGET") {
            $("#target-result-text").html("No Target Group detected.<br>");
        } else {
            let target_text = "Target: Individual, Institution or Other"
            if (target === "RELIGION") {
                target_text = "Target: Religious Group"
            } else if (target === "RACISM") {
                target_text = "Target: Foreigners, Migrants or Refugees"
            } else if (target === "SEXISM") {
                target_text = "Sexist Comment"
            }

            $("#target-result-text").html(target_text + "<br>");
        }
    }

    function label_hate() {
        $('#hate-button').text("HATE ✓");
        $('#hate-button').prop("disabled", true);
        $('#nohate-button').text("NO HATE");
        $('#nohate-button').prop("disabled", false);

        let comment_id = $("#result-text").data("comment_id");

        update_label(comment_id, 1);
    }

    function label_nohate() {
        $('#hate-button').text("HATE");
        $('#hate-button').prop("disabled", false);
        $('#nohate-button').text("NO HATE ✓");
        $('#nohate-button').prop("disabled", true);

        let comment_id = $("#result-text").data("comment_id");

        update_label(comment_id, 0);
    }

    function get_selected_model() {
        let model;
        if ($('#bert-radio').is(':checked')) {
            model = "bert";
        } else {
            model = "ft";
        }
        return model;
    }

    function get_selected_language() {
        let lang;
        if ($('#eng-radio').is(':checked')) {
            lang = "eng";
        } else {
            lang = "de";
        }
        return lang;
    }

    function update_label(comment_id, label) {
        $.ajax({
            url: '/label',
            type: 'post',
            data: "{\"comment_id\": \"" + comment_id + "\", \"label\": \"" + label + "\"}",
            headers: {
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                console.info("Updated comment.");
            }
        });
    }

    function process_prediction(data) {
        let hate_prob = 0;
        if (data.prediction === "1" || data.prediction === "hate") {

            hate_prob = data.probability;

        } else if (data.prediction === "0" || data.prediction === "nohate") {

            hate_prob = 1 - data.probability;
        }

        let show_targets = data.lang === "de" && hate_prob > 0.5

        update_comment_box(hate_prob, data.text, data.comment_id, show_targets);
    }


    function process_target_prediction(data) {
        target_requests_in_queue -= 1

        if (target_requests_in_queue === 0) {
            let target = data.prediction

            if (data.probability < 0.3) {
                target = null
            }

            update_target_prediction(target);
        }

    }

    function predict() {

        let text = $("#input-text").val();
        text = encodeURIComponent(text);
        text = trim(text);

        let model = get_selected_model();
        let lang = get_selected_language();

        if (text !== "") {
            $("#result").hide();
            $("#target-result-text").html("Looking for Hate Target...<br>")
            $("#target-result-text").hide();
            $("#loading").show();

            // Remove linebreaks from input
            text = text.replace(/\n/g, " ");

            // Remove quotes from input
            text = text.replace(/\"/g, "'");

            $.ajax({
                url: '/predict',
                type: 'post',
                data: "{\"version\": \"2\", \"source\": \"demo_app\", \"query\": \"" + text + "\", \"model\": \""
                    + model + "\", \"lang\": \"" + lang + "\"}",
                headers: {
                    'Content-Type': 'application/json'
                },
                dataType: 'json',
                success: function (data) {
                    process_prediction(data);
                }
            });

            // look for targets if the request is in german
            if (lang === "de") {
                target_requests_in_queue += 1
                $.ajax({
                    url: '/predict_target',
                    type: 'post',
                    data: "{\"query\": \"" + text + "\"}",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    dataType: 'json',
                    success: function (data) {
                        process_target_prediction(data);
                    }
                });
            }
        }
    }
</script>
</body>
</html>